.heading {
    background: rgba(189, 116, 116, 0.788);
    color:aquamarine;
    padding: 20px;
    text-align: center;
    width: 95%;
    font-family: 'Kaushan Script' cursive;
    font-size: 45px;

}

body{
    background: blueviolet;
    color: white;
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
}

p p1 p2 p3 {
    padding-top: 20px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}
